<!-- Footer -->
<!-- Greatly stolen and pared down from https://mdbootstrap.com/docs/standard/navigation/footer/ -->
<footer class="text-center text-lg-start bg-dark text-muted py-3">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>University of Virginia
          </h6>
          <p>
            Schedris app for CS 3240. This footer modified based on an example from 
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/docs/standard/navigation/footer/">MDBootstrap.com</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-center">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Authors</h6>
          <p class="fs-6"><i class="fas fa-user me-3"></i>Courtney Nguyen:  cn9hws@virginia.edu</p>
          <p class="fs-6"><i class="fas fa-user me-3"></i>Brendan Grimes:  ken6sx@virginia.edu</p>
          <p class="fs-6"><i class="fas fa-user me-3"></i>Kevin Chen:  kyc4mr@virginia.edu</p>
          <p class="fs-6"><i class="fas fa-user me-3"></i>Oliver Mu:  lm2ceh@virginia.edu</p>
          <p class="fs-6"><i class="fas fa-user me-3"></i>Megan Maleno:  mm6tun@virginia.edu</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center py-2" style="background-color: rgba(0, 0, 0, 0.05);">
    <small>&copy; 2023</small> 
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
