{% extends 'common/base.html' %}

<!--Block content goes below-->
{% block content %}

{% load socialaccount %}
<html>
<body>
  <div class="row justify-content-center align-items-center" style="height: 90vh;">
    <div class="col-lg-8 text-center">
    <h1 class="display-1 fw-bold">Welcome {{ user.name }}</h1>
    {% if user.is_authenticated %}
      <p>You are a student and logged in with username {{ user.username }}</p>
      <div clas="btn btn-group">
      <a class="btn btn-lg btn-primary me-sm-2 mb-3 mb-sm-0" href="schedule-list">My Schedules</a>
      <a class="btn btn-lg btn-primary me-sm-2 mb-3 mb-sm-0" href="{% url 'shopping_cart' %}">My Cart</a>
      </div>
    {% else %}
      <a href="{% url 'account_login' %}">Login With Google</a>
    {% endif %}
    </div>
  </div>
</body>
</html>
{% endblock %}