{% extends 'common/base.html' %}

{% block content %}
<body>


    <div class="container my-5">
      <h1 class="mb-4">About Us</h1>
      <p class="lead">Schedris was created in the Spring of 2023 by 5 Computer Science students at the University of Virginia.
      Targeted towards UVA students, Schedris allows users to envision their futures through course selection, schedule creation, and shopping cart features.
      Schedris is the one stop shop for all of your enrollment needs, allowing students to create possible schedules and obtain advisor approval for their schedule in one place.</p>
      <p>Though Schedris started as an assignment for a Software Development class, this app has grown to be a personal project for all of us.
      We hope that Schedris helps to relieve stress from students during the high stakes enrollment process.</p>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
{% endblock %}
